:root{
    --font: @import url(https://fonts.google.com/specimen/Darker+Grotesque);
}

*{
    font-family: var(--font);
    --primary-black: #333;
    --secondary-black: #252525;
    --primary-white: #FAFAFA;
    --primary-grey: #e7e4d8;
    --grey-footer: #d6d3c8;
    --brown: #492901; 
    padding: 0;
    margin: 0;
}

/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## */

 #header{
    position: relative;
    height: 152px;
    width: 100%;
    background: #85CDF5;
}

.logo-area{
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    width: 128px;
    height: 128px;
    left: 636px;
    top: 12px;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; 
    /* list style tirou bolinhas, text-align jogou pra direita */
}
nav{
    width: 100%;
    margin: 0 auto;
    display: table;
}

nav ul li{
    /* problema para aplicar propriedades utilizando a classe da nav */
    float:none;
    display: inline-block;
}

nav ul li:nth-child(1){
    /*nth-chil(n) pega o filho escolhido */
    float: left;
    position: relative;
    left: 200px;
} 
nav ul li:nth-child(2){
    /*nth-chil(n) pega o filho escolhido */
    /* float: right; */
    position: relative;
    right: 250px;
} 

nav ul li:after{
    content: "";
    display: block;
    background-color: var(--primary-black);
    height: 3.5px;
    width: 0px;
} 

nav ul li:hover:after{ /*after deixa embaixo e before fica em cima*/
    width: 100%;
    transition: .3s;
}

nav ul li a{
    font-size: 24px;
    line-height: 28px;
    color: var(--primary-black);
    text-decoration: none;
    /* text-decoration tira linha de baixo dos links a */
    display: block;
    padding: 58px 0px 0px 0px;
}

/* #nav-wolf{
    float: left;
} */

/* 
######  ########  ######  ######## ####  #######  ##    ## 
##    ## ##       ##    ##    ##     ##  ##     ## ###   ## 
##       ##       ##          ##     ##  ##     ## ####  ## 
 ######  ######   ##          ##     ##  ##     ## ## ## ## 
      ## ##       ##          ##     ##  ##     ## ##  #### 
##    ## ##       ##    ##    ##     ##  ##     ## ##   ### 
 ######  ########  ######     ##    ####  #######  ##    ##  */


section .container-slide{
    height: 500px;
    width: 100%;
    background-color: url(/assets/back.png);
    text-align: center;
}
/* section .container-about{
    height: 333px;
    width: 100;
    background-color: var(--primary-grey);
} */
/* .footer {
    position:absolute;
    bottom:0;
} */

/* #container{
    background-color:rebeccapurple;
}
#container div{
    float: left;
}

section::before, section::after {
    content: ' ';
    display: block;
  }
section::after{
clear: both;
} */